<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-projects-list></app-projects-list>
    </div>

    <div class="col-md-6">
      <app-projects-details></app-projects-details>
    </div>
  </div>
</div>







 <!-- <div class="container">
  <div class="col-50">
    <pre>{{projects$ | async | json}}</pre>
    <app-projects-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteProject($event)">
    </app-projects-list>
  </div>

  <div class="col-50">
    <app-projects-details
      [project]="currentProject"
      [customers]="customers$ | async"
      (saved)="saveProject($event)"
      (cancelled)="resetCurrentProject($event)">
    </app-projects-details>
  </div>
</div> -->


<!-- /////////////////// -->

<!-- <app-client-list *ngIf="mode == 'list'"></app-client-list>
<app-client-edit *ngIf="mode == 'edit' || mode == 'new'" [selectedClientObj]="selectedClientObj"></app-client-edit> -->
