<!-- <div class="content" *ngIf="isShowLoading">
  <div class="text-center">Loading...</div>
  <mat-spinner></mat-spinner>
</div> -->
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align: center; margin-top: 10px">Project Details</h3>
  </div>
</div>
<div>
  <div class="container-fluid">
    <form [formGroup]="projectObjForm">
      <div class="container-fluid">
        <mat-card class="cardTopDistance">
          <h5 class="text-left">Properties</h5>
        <mat-divider></mat-divider>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="input-label">Title</label>

                <input
                  type="text"
                  formControlName="title"
                  required
                  class="form-control form-control-sm"
                  placeholder="Enter title"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="input-label">Details</label>
                <input
                  type="text"
                  formControlName="details"
                  required
                  class="form-control form-control-sm"
                  placeholder="Enter Details"
                />
              </div>
            </div>
          </div>

        </mat-card>
      </div>

      <br />
      <div style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="save()"
          [disabled]="!projectObjForm.valid"
        >
          <i class="fa fa-save"></i
          ><span style="margin-left: 4px"> save </span></button
        >&nbsp;

        <br />
      </div>
      <br />

    </form>
  </div>
</div>
