





/* ///////////////////////////// */

/*

.mat-cell,
.mat-header-cell {
display: table-cell;
padding: 0px 10px;
text-align: left;
white-space: nowrap;
}
mat-header-row {
  min-height: 0px;
}

.mat-header-cell{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.mat-spinner {
  margin:auto;
}

.loading-spinner{
  margin: auto;
  border-radius: 15px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.infobtnColor {
  background-color: slateblue;
}

.button_right_align {
  float: right;
  margin-bottom: 8px;
}

.mat-column-status {
  flex: 0 0 20% !important;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mat-column-clientName {
  flex: 0 0 20% !important;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mat-column-apiBanks {
  flex: 0 0 20% !important;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mat-column-availableBalance {
  flex: 0 0 20% !important;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mat-column-action {
  flex: 0 0 20% !important;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.mat-row:nth-child(even){
  background-color:#F8F9F9;
}

.mat-row:nth-child(odd){
  background-color:white;
}

.cardTopDistance {
  margin-top: 11px;
  width: 100%;
  border-radius: 15px;
  text-align: center;
}
.mat-table.mat-cell {
  overflow: hidden;
  max-height: 500px;
}

.custome-label {
  display: none;
  text-align: left;
  white-space: nowrap;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left:0px;
  word-break: break-word;
}
@media screen and (max-width: 1024px) {
  .mat-column-status {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-clientName {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-apiBanks {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-availableBalance {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-action {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .button_right_align {
    float: right;
    margin-bottom: 8px;
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
    word-break: break-word;
  }
}

@media screen and (max-width: 768px) {
  .mat-column-action {
    flex: 0 0 18% !important;
  }

  .mat-table.mat-cell {
    overflow: hidden;
    max-height: 500px;

  }

  .mat-column-status {
    flex: 0 0 10% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-clientName {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-apiBanks {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-availableBalance {
    flex: 0 0 20% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-column-action {
    flex: 0 0 30% !important;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .button_right_align {
    float: right;
    margin-bottom: 8px;
  }
  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
    word-break: break-word;
  }
}

@media screen and (max-width: 600px) {
  .custome-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
  }
  .container-fluid {
    padding: 0 0px;
  }

  .mat-footer-row, mat-row {
    min-height: 3px;
  }

  .mat-row.ng-star-inserted {
    padding: 0px 0px;
  }
  .button_right_align {
    float: left;
    margin-bottom: 8px;
  }
  .mat-form-field {
    float: left;
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
    word-break: break-word;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding:0px 2px;
  }
}

@media screen and (max-width: 475px) {
  .custome-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;

    white-space: nowrap;
  }
  .container-fluid {
    padding: 0 0px;
  }


  .mat-row.ng-star-inserted {
    padding: 0px 0px;
  }
  .button_right_align {
    float: left;
    margin-bottom: 8px;
  }
  .mat-form-field {
    float: left;
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0px;
    word-break: break-word;
  }

  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 2px;
  }
} */
