<!--
 <div class="content" *ngIf="isShowLoading">
  <div class="text-center">Loading...</div>
  <mat-spinner></mat-spinner>
</div> -->
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align: center;margin-top:10px">Project List</h3>
  </div>
</div>
<div >
  <div class="container-fluid">
    <mat-card class="cardTopDistance">
      <div class="row">
        <div class="col-md-4">
          <div class="row" style="margin-left: 3px">
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="table-div">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let projectData">
              <span class="custome-label">Title:</span>
              {{projectData.title}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
            <mat-cell *matCellDef="let projectData">
              <span class="custome-label">Details:</span>
              {{projectData.details}}
            </mat-cell>
          </ng-container>



          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

            <mat-cell *matCellDef="let projectData">
              <button class="stokeRemovebtn" (click)="removeApiBankRow(projectData)" mat-stroked-button
              color="warn">
              <i class="material-icons">highlight_off</i>&nbsp;Remove
            </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        <mat-paginator [length]="paginatorLength"
                       [pageSize]="dataSize"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons
                       (page)="pageEvent = $event; onPaginateChange($event)">
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>




<!-- ///////////////////////// -->

<!--
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">Loading...</div>
  <mat-spinner></mat-spinner>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align: center;margin-top:10px">Client</h3>
  </div>
</div>
<div *ngIf="!isShowLoading">
  <div class="container-fluid">
    <mat-card class="cardTopDistance">
      <div class="row">
        <div class="col-md-4">
          <div class="row" style="margin-left: 3px">
          </div>
        </div>
        <div class="col-md-4 text-center">
          <mat-form-field>
            <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button class="button_right_align" mat-stroked-button color="primary" (click)="createNewClientObj()">
            <i class="material-icons">add_circle_outline</i>&nbsp;Add Client
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="table-div">
        <mat-table #table [dataSource]="dataSource">



          <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef>Client Name</mat-header-cell>
            <mat-cell *matCellDef="let clientData">
              <span class="custome-label">Client Name:</span>
              {{clientData.clientName}}
              <p style="font-style: italic;font-size: 12px;font-weight: bold;">({{clientData.clientId}})</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="apiBanks">
            <mat-header-cell *matHeaderCellDef>Api Banks</mat-header-cell>
            <mat-cell *matCellDef="let clientData">
              <span class="custome-label">apiBanks:</span>
              {{clientData.apiBanks}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="availableBalance">
            <mat-header-cell *matHeaderCellDef>Available Balance</mat-header-cell>
            <mat-cell *matCellDef="let clientData">
              <span class="custome-label">available Balance :</span>
              {{clientData.availableBalance}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let clientData">
              <span class="custome-label">Status :</span>
              {{clientData.status}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

            <mat-cell *matCellDef="let apiData">
              <button (click)="sendRowData(apiData)" mat-raised-button color="primary">
                <i class="material-icons">remove_red_eye</i>&nbsp;Open
              </button>&nbsp;&nbsp;
              <button (click)="sendRowClientInfoData(apiData)"  class="infobtnColor" mat-raised-button>
                <i class="material-icons">remove_red_eye</i>&nbsp;Info
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        <mat-paginator [length]="paginatorLength"
                       [pageSize]="dataSize"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons
                       (page)="pageEvent = $event; onPaginateChange($event)">
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div> -->

